.wrapper {
  padding: 20px;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.container  {
  padding: 20px;
}

.container.noPadding  {
  padding: 0;
}

.container.border {
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
}