/* SIDE NAV */
@keyframes sideNavSlideFromLeft {
  from { left: -50% }
  to { left: 0 }
}
@keyframes sideNavSlideFromRight {
  from { right: 50% }
  to { right: 0 }
}

.sidenav {
  position: fixed;
  z-index: 899;
  top: 0;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.sidenav .outer {
  position: fixed;
  width: 100%;
  height: 100%;
}

.sidenav .wrapper {
  position: relative;
  height: 100vh;
  z-index: 999;
  overflow-y: auto;
  will-change: transform;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  background-color: #fff;
}

.sidenav .wrapper .left {
  animation: sideNavSlideFromLeft 500ms linear forwards;
}

.sidenav .wrapper .left {
  animation: sideNavSlideFromRight 500ms linear forwards;
}

.sidenav .wrapper .container {
  padding: 20px 0;
}

.sidenav .close {
  color: #999;
  font-size: 4rem;
  font-weight: 100;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 999;
}

.sidenav .close .container {
  padding: 10px 20px;
  cursor: pointer;
  text-shadow: 2px 2px var(--green-1);
  transition: 2s all;
  display: none;
}

.sidenav .close .container:hover {
  color: #111;
  text-shadow: 2px 2px 10px var(--green-1);
  transition: 2s all;
}

.menu {
  margin-top: 80px;
}

.headernav .menu {
  margin-top: 0px;
}

.header {
  padding: 50px;
}

@media only screen and (max-width: 576px) {
  .sidenav .close .container {
    display: block;
  }
}

@media only screen and (max-width: 480px) {
  .menu ul a {
    padding-bottom: 10px;
  }

  .wrapper {
    text-align: center;
  }
}