.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-right: 1px solid black;
}

.customContextMenu {
  position: fixed;
  z-index: 10;
  background: #eeeeee;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.option {
  cursor: pointer;
  padding: 15px 30px;
  border-bottom: 1px solid black;
}

.option:hover {
  background: #cccccc;
}